<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Concert Events</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}"
</head>

<body>
    <main class="container">
        <h1>Concert Events</h1>

        {% for item in data %}
        <article class="event">
            <header>
                <h2>{{data.artist_name}}</h2>
            </header>
            <section>
                <p>Venue: {{data.venue}}</p>
            </section>
        </article>
        {% endfor %}

    </main>
</body>

</html>